html {
    background: url('img/turtles.png');
    background-size: cover;
    background-size: contain;
    background-color: #0a84b3;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    background-position: bottom right;
}
.Typography--colorDarkGray2 {
    color: #fff;
}
.SubtleIconButton.AbstractThemeableIconButton {
    fill: #fff;
}
.SubtleButton.AbstractThemeableRectangularButton {
    color: #fff;
    fill: #fff;
}